#root {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  font-family: Arial;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(216, 79, 0);
}

nav div {
  display: flex;
  align-items: center;
}

nav div img {
  height: 100px;
  margin-right: 20px;
}

nav h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

.a {
  text-decoration: none;
  color: white;

}

.a:hover {
  text-decoration: underline;
  color: rgba(255, 245, 238, 0.863);
}

main {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.book {
  display: flex;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: rgba(247, 206, 152, 0.288);
}

.book:hover {
  background-color: rgba(247, 206, 152, 0.418);
}

#book {
  text-decoration: none;
  color: white;
}

.book p {
  margin: 0;
}

.book img {
  border-radius: 10px 0 0 10px;
  height: 150px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.form-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(216, 79, 0);
}

.form-container h2 {
  margin: 0 0 20px 0;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 0 20px 0;
}

.form input {
  padding: 7px;
  border-radius: 5px;
  border: none;
}

.badge {
  background-color: rgb(255, 0, 0);
  padding: 5px 10px;
  margin-left: 4px;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 5px;

}